# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
Python/lib/
Python/lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv
venv/
ENV/
env/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# VS Code
.vscode/

# Project specific
WeDo2_Full_1.9.385_Global_WIN10.exe
